.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Board {
  border: 4px solid rgb(53, 24, 3);
  background-color: #451000;
  background-image: url("./resources/wood-pattern.png");
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 5px auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.Cell {
  background: rgb(160, 73, 11, 0.0);
  border: 2px solid rgb(53, 24, 3);
  font-size: 50px;
  font-weight: 1000;
  outline: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  color: black;
}

.Cell.highlight {
  background: rgb(255, 255, 0, 0.3);
}

.Cell.suggestion {
  background: rgb(154, 205, 50, 0.8);
}

.Cell.blue {
  color: blue;
  text-shadow: 5px 5px black;
}

.Cell.red {
  color: red;
  text-shadow: 5px 5px black;
}

.App #buttons button {
  border: none;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 4px;
  padding: 0.7em 2em;
  margin: 10px 10px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.App #buttons button:disabled {
  cursor: not-allowed;
}

table, th, td {
  border: 2px solid limegreen;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 400px;
  background-color: #451000;
}

h1 {
  margin: 15px auto;
}

p {
  margin : 0px auto 15px auto;
}